body {
    font-family: 'Prompt', sans-serif;
    color: #444;
    background-color: #f3f4f5;
}

/**/
.navbar-inverse {
    border: none;
    background-color: #16A085;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #119278;
}

/**/
.panel .panel-heading {
    color: #fff;
    background-color: #16A085;
}

.list-group-item.active, 
.list-group-item.active:focus,
.list-group-item.active:hover {
    border-color: #16A085;
    background-color: #16A085;
}

/**/
.bs-table {
    margin: 0;
}

.bs-table thead tr th {
    color: #fff;
    background-color: #999;
}

.bs-table .bs-price {
    text-align: right;
}

.bs-table .bs-center {
    text-align: center;
}

/* kk table form layout */
.bs-table-form {
    width: 100%;
}

.bs-table-form tr td {
    padding: 8px 10px;
}

.bs-table-form tr td:nth-child(1) {
    width: 15%;
    min-width: 100px;
    text-align: right;
    font-weight: bold;
    padding-left: 0;
}

.bs-table-form tr td:nth-child(2) {
    padding-right: 0;
}

.bs-table-form .form-control {
    width: 100%;
}

.bs-table-form .bs-required {
    color: red;
    font-size: 18px;
    margin-left: 5px;
}

/**/
.bs-product-card {
    min-height: 290px;
    text-align: center;
    position: relative;
}

.bs-product-card img {
    height: 90px;
    margin-top: 20px;
}

.bs-product-card .btn {
    position: absolute;
    bottom: 15px;
    width: calc(100% - 30px);
}

.bs-product-card h4 {
    text-align: left;
}

.bs-product-card .form-group {
    text-align: left;
}

.bs-product-card .form-group strong {
    font-size: 16px;
}